streamlit
langchain
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters
langchain-core
faiss-cpu
beautifulsoup4
lxml
pymupdf
python-dotenv
torch==2.2.2
sentence-transformers==2.7.0
numpy<2
rank-bm25